html
  head
    title= title
    link(rel='stylesheet', href='/main.css')
  body
    div
    .header
      h1= header
    div
    #particles-js
    
    

    script(src='particles.js')
    script(src='main.js')