html, body, p, h2{
  margin: 0;
  padding: 0;
  font-family: 'Palatino', sans-serif;
}

.body-overflow {
  overflow: hidden;
}

#particles-js {
  float: left;
  width: 100%;
  height: 100%;
  background: url('/img/sunset-background.jpg') center center no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  opacity: 0.95;
}

.header {
  margin: 0;
  padding: 0;
  position: absolute;
  float: left;
  width: 100%;
  cursor: default;
  z-index: 100;
  top: 45%;
  pointer-events: none;
}

.header h1 {
  cursor: default;
  text-align: center;
  margin: 0;
  padding: 0;
  background: 0;
  color: white; 
  font-size: 64px;
  font-variant: small-caps;
  pointer-events: none;
}

.sidebar {
  position: absolute;
  float: left;
  z-index: 10;
  top: 38%;
  left: 15px;
  /*border-radius: 0 20% 20% 0;*/
}

.sidebar-right {
  position: absolute;
  z-index: 10;
  top: 45%;
  right: 10px;
  font-variant: small-caps;
}

.sidebar ul{
  margin: 0;
  /*padding: 15px 10px;*/
  padding: 0;
}

.sidebar ul li {
  list-style-type: none;
  width: 40px;
  height: 40px;
}
.sidebar ul li a{
  width:100%;
  height:100%;
}
.sidebar ul li:not(:last-child){
  padding-bottom: 7px;
}

.sidebar ul li a svg{
  height: 40px;
  width: 40px;
}

.sidebar ul li a svg path{
  fill: rgba(255,255,255,0.7);
}

.sidebar ul li a:hover svg path{
  fill: rgba(255,255,255,1);
  transition: all 0.3s ease;
}

.sidebar ul li a svg#mail{
  margin: 0 0 0 2px;
  height: 36px;
  width: 36px;
}

.sidebar ul li a:hover svg{
  width: 42px;
  height:42px;
  transition: all 0.3s ease;
}
.sidebar ul li:hover{
  width: 42px;
  height:42px;
}
.sidebar ul li:hover{
  padding-bottom: 5px;
}

.sidebar ul li a:hover svg#mail{
  height: 38px;
  width: 38px;
}

.sidebar-right a svg {
  height: 70px;
  width: 70px;
}
.sidebar-right a svg path {
  fill: rgba(255,255,255,0.7);
}

.sidebar-right a:hover svg path {
  transition: all 0.3s ease;
  fill: white;
}

.sidebar-right a {
  text-decoration: none;
  font-size: 24px;
  color: rgba(255,255,255,0.7);
  
  /*font-variant: small-caps; */
}
.sidebar-right a span {
  position: absolute;
  top: 23px;
  right: 60px;
}
.sidebar-right a:hover {
  transition: all 0.3s ease;
  color: rgba(255,255,255,1);
}

/* Projects menu */

div#projects {
  display: block;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  background: #14181f;
  transition: all ease 0.8s;
  padding: 100px;
}

.hide-projects {
  left: 100%;
  right: -100%;
}
.hide-main {
  right: 100%;
  left: -100%;
}
.show {
  left: 0%;
  right: 0%;
}

#headercontent {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all ease 0.8s;
}

#projects-back {
  position: absolute;
  left: 10px;
  top: 300px;
}

#projects-back svg {
  height: 70px;
  width: 70px;
}
#projects-back svg path{
  fill: rgba(255,255,255,0.7);
}
#projects-back:hover svg path{
  fill: rgba(255,255,255,1);
}

/* Isotope */

.grid {
  width: 99%;
  margin: auto;
}

.grid-item {
  float: left;
  width: 27.3%;
  padding-bottom: 20%;
  margin: 2% 3%;
  background: #e6e5e4;
  border-radius: 13px;
}

#projects h2 {
  color: white;
  font-size: 42px;
  text-align: center;
  padding-bottom: 60px;
  margin: 0px;
  font-variant: small-caps;
}

a.item {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  pointer-events: all;
  cursor: pointer;
  z-index: 5;
}

.mask {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  border-radius: 13px;
  opacity: 0;
  transition: all ease 0.3s;
  text-align: center;
}

a.item:hover .mask {
  opacity: 1;
}

.mask h3 {
  color: white;
  text-transform: uppercase;
  font-size: 24px;
  position: absolute;
  margin: auto;
  width: 99%;
  top: 50%;
  margin-top: -12px;
}

/* Modals */

.portfolio-modal {
  display: none;
  /*display: block;*/
  background: rgba(0,0,0,0.9);
  position: fixed;
  z-index: 1000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.portfolio-modal .container {
  color: white;
  max-width: 600px;
  margin: auto;
  text-align: center;
  padding: 100px 0;
  font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif
}

.portfolio-modal .container h2 {
  padding-bottom: 50px;
  font-size: 42px;
  text-transform: uppercase;
  margin: 0;
}

.portfolio-modal .container p {
  font-size: 20px;
  line-height: 28.5px;
}

.portfolio-modal .container ul li a {
  text-decoration: none;
  color: white;
  border: 2px solid white;
  border-radius: 2px;
  padding: 10px;
  font-size: 20px;
  line-height: 30px;
}
.portfolio-modal .container ul{
  margin: 50px auto;
  padding: 0px;
}
.portfolio-modal .container ul li{
  list-style-type: none;
  display: inline-block;
  padding: 0 5px;
}
.portfolio-modal .container ul li a:hover {
  background: white;
  transition: all ease 0.5s;
  color: #3393FF;
}
.portfolio-modal .container ul li a svg {
  position: absolute;
  width: 30px;
  height: 30px;
  fill: white;
}
.portfolio-modal .container ul li a span {
  margin-left: 35px;
}
.portfolio-modal .container ul li a:hover svg{
  fill: #3393FF;
  transition: all ease 0.5s;
}

.displayBlock {
  display: block;
}

.modal-close {
  position: absolute;
  top: 40px;
  right: 40px;
}
.modal-close svg {
  width: 70px;
  height: 70px;
  cursor: pointer;
}
.modal-close svg path{
  fill: white;
}
.modal-close svg:hover path{
  fill: rgba(255,255,255,0.75);
  transition: all ease 0.3s;
}
